<h2>Search Books:</h2>
<br><br>
<div class='container'>
    <div class="row">

        <div class="col-sm" id="SearchSection">

            <h3>Book info:</h3>
            <br>
            <form class="d-flex">
                <input class="form-control me-2" type="text" #bookname placeholder="Search for Books">
                <button (click)="getBookDetails(bookname.value)" class="btn btn-outline-success" type="submit">Search</button>
              </form>             

              <br>  

              <div id="BookInfo">    
                  <div>
                    <h4>{{bookData.items[0].volumeInfo.title}}</h4>
                    <p id="bookDesc">{{bookData.items[0].volumeInfo.description}}</p>
                  </div>
              </div>


        </div>
        </div>
    <div>
</div>
