<h2>Search Books:</h2>
<br><br>

<div class='container'>
    <div class="row">

        <div class="col-sm">

            <h3>Book info:</h3>

            <br>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search for Books" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
   
              <br>
              
              <p id="BookInfo">Book info will show up here:</p>

        </div>



        <div class="col-sm">
           <h3>Search Results:</h3> 
        </div>




        <div class="col-sm">
       <h3>Filter by Genre:</h3>
        </div>
    <div>
</div>
