<div>
    <h2>Add Review:</h2>

    <div>
        <input type="text" name="name" #name placeholder="Enter name of book:">
    <input type="text"  id="ReviewSection" name="reviewText" #reviewText placeholder="Enter your review here:">
    </div>  
    <br>
    <button class="btn btn-outline-success" type="submit" (click)="addTheBook(name.value,reviewText.value)">Submit Review</button>

    <br>
</div>

<H2>Posted Reviews:</H2>
<h5>Find reviews of a book here:</h5>

<div class='container'>
    <app-show-reviews *ngFor="let bookData of booksData" [bookData]="bookData"></app-show-reviews>
</div>